body {
    padding: 0!important;
}

h1 {
    color: #34434B;
}

.btn {
    border-radius: 0;
}

.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus {
    background-color: #A09474;
    border-color: #A09474;
}

.btn-success:hover, 
.btn-success:disabled,
.btn-success:disbaled:hover {
    background-color: #ACA286;
    border-color: #ACA286;
}

.btn-xl {
    padding: 1.2rem 3rem;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #34434B;
    border-color: #34434B;
}

.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:disabled:hover {
    background-color: #3F515A;
    border-color: #3F515A;
}

.form-control {
    border-radius: 0;
    font-weight: lighter;
}

select {
    text-transform: uppercase;
    border: none !important;
    height: 3.5rem !important;
    -webkit-appearance: none;
}

textarea {
    background-color: #F7F7F7 !important;
    resize: none;
}

td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
