h1 {
    margin-bottom: 2rem;
}

thead th { 
    border-top: none;
    border-bottom: 1px solid #34434B;
    font-weight: bold;
}

th, td {
    font-weight: lighter;
    
}

td {
    border-bottom: .5px solid rgba(52, 67, 75, .1);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

tr:hover {
    background-color: #ecf0f1;
}

i {
    padding-right: .5rem;
    color: #FFF;
}

