<div class="modal fade" [id]="modalId" data-backdrop="static">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="bugForm">

                <div class="modal-body">
                    <fieldset class="form-inline">
                        <div class="form-group" id="title-form-group">
                            <label for="title-field" class="sr-only">Bug title</label>
                            <input type="text" class="form-control" id="title-field" placeholder="Bug Title" formControlName="title">
                        </div>
                        <div class="form-group float-xs-right">
                            <label for="status-dropdown" class="sr-only">Status</label>
                            <select id="status-dropdown" class="form-control btn btn-primary" formControlName="status">
                                <option *ngFor="let status of statusArr" [value]="status">{{ statuses[status] }}</option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="form-group float-xs-left" id="severity-form-group">
                        <label for="severity-dropdown" class="sr-only">Severity Dropdown</label>
                        <select id="severity-dropdown" class="form-control" formControlName="severity">
                             <option *ngFor="let severity of severityArr" [value]="severity">{{ severities[severity] }}</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label for="desc-area" class="sr-only">Description</label>
                        <textarea id="desc-area" rows="10" class="form-control" placeholder="Type a description of your bug" formControlName="description"></textarea>
                    </div>
                    <div id="#submitter-body" *ngIf="formState == 'new'">
                        <label for="submitted-field" class="submitter-label">Created By:</label>
                        <span class="submitter-container"><input type="text" class="form-control" id="submitter-field" formControlName="createdBy" placeholder="Enter your name" required></span>
                    </div>
                    <div id="lastupdatelabel" *ngIf="formState == 'notNew'">
                        <label for="updater-field" class="updater-label">Last Updated By:</label>
                        <label class="updater-field">{{ currentBug.updatedBy }}</label>
                    </div>
                    <div id="update-body" *ngIf="formState == 'notNew'">
                            <label for="update-field" class="update-label">Updated By:</label>
                            <span class="update-container"><input type="text" class="form-control" id="update-field" formControlName="updatedBy" placeholder="Enter your name" required></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-xl square-button deleteButton" type="button" (click)="deleteBug()" data-dismiss="modal" *ngIf="formState == 'notNew'"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    <button class="btn btn-warning btn-xl" type="button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                    <button class="btn btn-success btn-xl" type="button" (click)="submitForm()" [disabled]="bugForm.invalid" data-dismiss="modal"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>