.modal-content {
    border-radius: 0;
}

.modal-body {
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
}

#title-form-group {
    margin-top: 1rem;
}

#title-field {
    font-size: 1.3rem;
    border: none;
    text-transform: uppercase;
}

#status-dropdown {
    text-align-last: center;
}

#title-field, #severity-dropdown {
    padding: 0;
}

#severity-form-group {
    padding-left: 0;
    margin-bottom: 0;
}

#severity-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    cursor: pointer;
}

.modal-footer {
    border: none;
    text-align: center;
    padding-bottom: 4rem;
}

option {
    background-color: #ecf0f1 !important;
    color: #000;
}

/* Validation */

textarea.ng-invalid.ng-dirty {
    border-color: #C62828;
    transition: border-color 0.2s ease;
}

#title-field.ng-invalid.ng-dirty {
    border-left: 5px solid #C62828;
    padding-left: 5px;
    transition: border-width 0.2s ease;
}

#submitter-body {
    margin-top: 1rem;
    padding: 0 !important;
    line-height: 2 !important;
}

.submitter-label {
    float: left;
    padding-right: .5rem;
    line-height: 2;
}

#submitter-field {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 0;
    width: 100%;
}

span.submitter-container {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#update-body {
    padding-top: 2rem !important;
    padding: 0 !important;
    line-height: 2 !important;
}

.update-label {
    float: left;
    padding-right: .5rem;
    line-height: 2;
}

#update-field {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    width: 100%;
}

span.update-container {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.deleteButton {
    text-align: center;
    margin-right: 50px;
}

.btn-xl {
    max-width: 150px;
    padding-left: 25px;
    padding-right: 25px;
}